<div class="about-me">
  <div class="photo">
    <img src="../../assets/me.jpg" alt="Joshua Sterling">
  </div>
  <p class="description">
    Hello! I'm Joshua. I'm a software developer and I'm finally spinning up my own portfolio site to showcase some of my personal work.
    <br />
    Check out the Rowing App Demo page to see an app I'm building to track my rowing activities!
  </p>
</div>
<hr>

<div class="slideshow-parent">
<div class="slideshow-description">
  <p>
    I also enjoy building custom computers. Here are a few of my most recent builds.
  </p>
</div>


<div class="slideshow-container">
  <div class="slideshow">
    <button type="button" class="prev-button" (click)="prevImage()"></button>
    <img [src]="images[currentImageIndex]" alt="Computer image" class="selected-image">
    <button type="button" class="next-button" (click)="nextImage()"></button>
  </div>
  <div class="thumbnails">
    <img *ngFor="let image of images; let i = index"
         [src]="image"
         (click)="currentImageIndex = i"         
         [class.active-thumbnail]="i === currentImageIndex" 
         alt="Computer thumbnail">
  </div>
</div>
</div>
