<div class="about-me">
  <div class="photo">
    <img src="../../assets/me.jpg" alt="Joshua Sterling">
  </div>
  <p class="description">
    Hello! I'm Joshua. I'm a software developer with a passion for rowing.
    I have degrees in Botany, Accounting, and Software Development.

    I love OU sports and attend as many games in person as I can. Boomer Sooner!
    I'm finally spinning up my own portfolio site to showcase some of my personal work.
    Check out the Rowing Data page to see an app I'm building to track my rowing activities!
  </p>
</div>
