<button (click)="toggleForm()" class="formButton" *ngIf="!isFormVisible">
  Add New Rowing Event
</button>

<div class="form-container" *ngIf="isFormVisible">
  <form [formGroup]="rowingEventForm" (ngSubmit)="onSubmit()">
    <label for="eventDate">Event Date</label>
    <input id="eventDate" type="date" formControlName="eventDate">

    <label for="distance">Distance</label>
    <input id="distance" type="number" formControlName="distance" min="0">

    <label for="totalTime">Total Time</label>
    <input id="totalTime" type="time" formControlName="totalTime" min="00:00" max="23:59">

    <label for="strokeRate">Stroke Rate</label>
    <input id="strokeRate" type="number" formControlName="strokeRate" min="0" max="50">

    <div class="form-buttons">
      <button type="submit" class="formButton">Add Rowing Event</button>
      <button type="button" class="formButton cancel" (click)="toggleForm()">Cancel</button>
    </div>
  </form>
 </div>

<div *ngIf="isLoading">
  <p>Loading...</p>
  <!-- TODO add a spinner gif -->
</div>
<div class="table-container" *ngIf="!isLoading">
  <div class="records-per-page">
    <label for="recordsPerPage">Records per page:</label>
    <select id="recordsPerPage" [(ngModel)]="recordsPerPage" (change)="getRowingEvents()">
      <option value="10">10</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
  <div class="pagination-controls">
    <p>Total records: {{ totalRecords }}</p>
    <p>Page {{ currentPage }} of {{ maxPage }}</p>
    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <button (click)="nextPage()" [disabled]="currentPage === maxPage">Next</button>
  </div>

  <table>
    <thead>
      <tr>
        <th (click)="sort('EventDate')">Event Date <span *ngIf="sortColumn === 'EventDate'"> {{sortAscending ? '↑' : '↓'}}</span></th>
        <th (click)="sort('Distance')">Distance <span *ngIf="sortColumn === 'Distance'"> {{sortAscending ? '↑' : '↓'}}</span></th>
        <th (click)="sort('TotalTime')">Total Time <span *ngIf="sortColumn === 'TotalTime'"> {{sortAscending ? '↑' : '↓'}}</span></th>
        <th (click)="sort('StrokeRate')">Stroke Rate <span *ngIf="sortColumn === 'StrokeRate'"> {{sortAscending ? '↑' : '↓'}}</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of rowingEvents">
        <td>{{ event.eventDate }}</td>
        <td>{{ event.distance }}</td>
        <td>{{ event.totalTime }}</td>
        <td>{{ event.strokeRate }}</td>
      </tr>
    </tbody>
  </table>
</div>
